.trip-cards {
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.t-card {
    flex-direction: column;
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    /* margin-top: 5vh; */
    padding: 3vh 2vw;
}

.t-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.t-image:hover img {
    transform: scale(1.3);
}

.t-card h4 {
    font-size: 1.3rem;
    padding: 3vh 0 1vh 0;
}

@media screen and (max-width:1000px) {

    .trip-cards {
        margin: 0 2.5vw;
    }

    .t-card {
        padding: 2vh 1vw;
        width: 100%;
    }

}

@media screen and (max-width:850px) {

    .trip-cards {
        margin: 0 10vw;
        flex-direction: column;
        gap: 5vw;
    }

    .t-card {
        padding: 2vh 3vw;

    }

    .t-image {
        height: 300px;
    }
}